
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
/* general style */
.list-unstyled{
  list-style: none;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
}
.con_container{
  max-width: 1140px;
  margin: auto;
  padding: 0 12px;
}
/* general style */
body{
  background-color: #EEF1FB;
}
.con_my_wrapper{
  background-color: #EEF1FB;
}
.con_wrapper{
  max-width: 1200px;
  margin: auto;
}

.con_navbar{
  border-bottom: 1px solid #C9CDD9;
  padding: 12px 10px;
  position: relative;
}

.con_navbar_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.con_navbar_logo a{
  color: #363B53;
  font-family: "Nunito Sans", sans-serif;
}
.con_navbar_logo a h2{
  font-size: 21px;
  font-weight: 700;
  color: #363B53;
  margin-bottom: 4px;
}
.con_navbar_logo a p{
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: #363B53;
}
.head_center ul li{
  display: inline-block;
  margin-right: 15px;
  font-family: 'Poppins', sans-serif;
}
.head_center ul li a{
  font-family: 'Poppins', sans-serif;
  color: #363B53;
}
.head_center ul li a:hover{
  color: #ff680a;
}
.head_center ul li:last-of-type{
  margin-right: 0;
}
.con_links{
  display: flex;
  gap: 16px;
}
.con_btn{
  padding: 10px 18px;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  transition: all .2s ease-in-out;
}
.search_btn{
  background-size: 19px auto;
  background-repeat: no-repeat;
  background-position: 19px 48%;
  padding-left: 40px;
  background-color: #363B53;
  border-color: #363B53;
  color: #ffffff;
  padding: 10px 20px 10px 42px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 19 18'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M8 14.5a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='square' stroke-linejoin='round' stroke-width='1.5' d='m13.5 12.5 4 4'/%3E%3C/svg%3E");
}
.search_btn:hover{
  background-color: #262A3B;
}
.signup_btn{
  color: #fff;
  background-color: #F5912A;
}
.signup_btn:hover{
  background-color: #F57D00;
}
.login_btn{
  background-color: transparent;
  color: #363B53;
  border: 1px solid #C9CDD9;
}
.login_btn:hover{
  background-color: #C9CDD9;
}
.btn_mobile{
  position: absolute;
  right: 25px;
  top: 22px;
  color: #363B53;
  cursor: pointer;
  font-size: 18px;
  display: none;
}
.btn_mobile:hover{
  color: #F57D00;
}
.con_fix_height{
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
}

@media (min-width: 988px) and (max-width: 1088px){
  .con_btn{
    padding: 8px 15px;
    font-size: 14px;
  }
  .con_navbar_logo a h2{
    font-size: 18px;
  }
  .head_center ul li a{
    font-size: 14px;
  }
  .search_btn{
    padding-left: 40px !important;
  }
}
@media (max-width: 987px){
  .btn_mobile{
    display: block;
  }

  .head_center{
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .con_navbar_wrapper{
    display: block;
  }
  .head_right{
    display: flex;
    justify-content: center;
  }
  .con_links{
    display: flex;
    padding: 0 5px;
  }
  .con_btn{
    display: block;
    width: 100px;
    text-align: center;
  }
  .con_btn{
    font-size: 14px;
  }
  .search_btn{
    background-position: 32px 47%;
  }
  .head_left{
    width: fit-content;
  }
  .head_right,
  .head_center{
    height: 0px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .con_fix_height{
    height: inherit;
    display: block;
  }

}
@media (max-width: 485px){
  .head_center{
    justify-content: flex-start;
  }
  .head_center ul li{
    display: block;
    margin-bottom: 10px;
  }
  .con_links{
    flex-direction: column;
  }
  .con_btn,
  .con_links{
    width: 100%;
  }
  .con_btn{
    padding: 10px 0 !important;
  }
  .search_btn{
    background-position: 34%;
  }
}


/* center */
#center{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
#center .home_left{
  width: 100%;
  padding-right: 20px;
}


/* footer */
.con_footer{
  background-color: #363B53;
  padding: 20px 10px;
  color: #fff;
}
.con_footer_logo a{
  color: #fff;
  transition: all .2s ease-in-out;
}
.con_footer_logo a:hover{
  text-decoration: underline;
}
.con_footer_logo p{
  color: #fff;
  opacity: .5;
  font-size: 12px;
  margin-top: 8px;
}
.con_footer_wrappe{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.con_footer_links ul{
  list-style: none;
}
.con_footer_links ul li{
  display: inline-block;
  margin-right: 20px;
  font-size: 13px;
}
.con_footer_links ul li:last-child{
  margin-right: 0;
}
.con_footer_links ul li a{
  color: #fff;
  opacity: .7;
  transition: all .2s ease-in-out;
}
.con_footer_links ul li a:hover{
  opacity: 1;
  text-decoration: underline;
}

@media (max-width: 935px){
  .con_footer_wrappe{
    flex-direction: column;
    text-align: center;
  }
  .con_footer_logo{
    padding-bottom: 15px;
  }
  .con_footer_links{
    width: 100%;
    border-top: 1px solid #6b7385;
    padding-top: 15px;
  }

  .con_footer_links ul li{
    display: block;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .con_footer_links ul li:last-child{
    margin-bottom: 0px;
  }
}
