/* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"> */
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto+Slab&display=swap");
body,
html {
  padding: 0;
  margin: 0;
}
#page-theme .contain {
  display: none !important;
}

form._form {
  width: 100% !important;
  background: transparent !important;
  background-color: transparent !important;
}
._submit {
  width: 100%;
  background-color: #fae454 !important;
  margin-top: 10px;
  transition: 0.2s all ease-in-out;
}
#_form_623224A6C14A2_ ._submit {
  background-color: #fae454 !important;
}
._field-wrapper input {
  border: none !important;
  padding: 15px !important;
}
._form_element:last-of-type {
  margin-top: 10px !important;
}
._form_element label,
._form_element ._html-code {
  display: none !important;
}
._form-thank-you {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 12px;
}
._form-title {
  display: none;
}
/* fix styles */
form._form {
  width: 100% !important;
  background: transparent !important;
}
._submit {
  width: 100%;
  background-color: #162535 !important;
  margin-top: 10px;
}
._field-wrapper input {
  border: none;
  padding: 15px;
}
._form_element label,
._form_element ._html-code {
  display: none;
}
._form-thank-you {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 12px;
}
/* general styles */
.h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
}
.opt_row {
  display: flex;
}
.main_h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.main_p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 80%;
  margin: auto;
}

/* header */
header.opt_header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 72%);
  background-color: #466cce;
  overflow: hidden;
  height: 900px;
}
header.opt_header .opt_row {
  height: 100%;
  align-items: stretch;
}
.opt_header .living_info {
  width: 45%;
}
.living_info ul li p {
  margin: 0;
  font-weight: 400;
}
.opt_header .form_login {
  width: 55%;
  height: 100%;
}
#page-theme .opt_header h1 {
  font-size: 25px;
}
.living_info_content {
  width: 80%;
  margin: auto;
  padding-left: 20px;
  color: #fff;
}
.opt_header .logo {
  width: 160px;
  margin: 25px 0 70px 0;
}
.opt_header .logo img {
  width: 100%;
}
.form_login {
  background-image: url("https://i.ibb.co/qM3vk7n/man1back-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.form_login h1.h1 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 25px !important;
}
.opt_header .living_info_details .h1 {
  font-size: 34px !important;
}
.opt_header .living_info_details .h1 span {
  color: #fae454;
}
.opt_header .living_info_details p,
.opt_header .living_info_details ul li {
  font-size: 16px;
  align-items: center;
}
.living_info_details ul li {
  margin-bottom: 8px;
}
.opt_header .living_info_details ul li span {
  margin-right: 10px;
}
.opt_header .living_info_details ul li span i {
  font-style: inherit !important;
}

.form_login {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.form_login .form_container {
  width: 70%;
  margin-top: 230px;
  max-width: 400px;
  min-width: 350px;
}
.form_login .form_container p {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.opt_form_here form {
  margin-top: 0 !important;
}
.opt_header .over_lay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(22, 37, 53, 0.6);
  z-index: 1;
  display: none;
}

.header_submit_button {
  border: none;
  background-color: #fae454;
  font-weight: 600;
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #162535;
  padding: 12px 0 10px;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.header_submit_button:hover {
  background-color: #162535;
  color: #fff;
}

@media (max-width: 320px) {
  header.opt_header {
    height: 1250px !important;
  }
}
@media (max-width: 575.98px) {
  header.opt_header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    height: 1050px;
  }
  header.opt_header .opt_row {
    align-items: initial;
    flex-direction: column;
    justify-content: stretch;
  }
  .opt_header .living_info {
    width: 100%;
    padding-bottom: 10px;
  }
  .opt_header .form_login {
    background-position: 60%;
    width: 100%;
    height: 100%;
  }
  .living_info_content {
    width: 100%;
    padding: 0 15px !important;
  }
  .opt_header .logo {
    width: 110px;
    margin: 15px 0 20px 0;
  }
  .opt_header .living_info_details .h1 {
    font-size: 24px !important;
  }
  .opt_header .living_info_details p,
  .opt_header .living_info_details ul li {
    font-size: 14px;
  }

  .main_p {
    width: 99%;
  }
  .form_login .form_container {
    width: 90%;
    margin-top: 150px;
    min-width: 290px;
  }
}
@media (max-width: 767.98px) {
  header.opt_header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 1150px;
  }
  header.opt_header .opt_row {
    align-items: initial;
    flex-direction: column;
    justify-content: stretch;
  }
  .opt_header .living_info {
    width: 100%;
    padding-bottom: 0px;
  }
  .opt_header .form_login {
    width: 100%;
    height: 100%;
  }
  .opt_header .logo {
    margin: 25px 0 35px 0;
  }
  .h1 {
    font-size: 25px !important;
  }
  .living_info_details {
    margin-bottom: 30px;
  }

  .form_login {
    position: relative;
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%) !important;
  }
  .form_container {
    width: 70%;
    color: #fff;
    z-index: 2222;
    position: relative;
  }
  .opt_header .over_lay {
    display: block;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 850px) {
  .opt_header .living_info_details p,
  .opt_header .living_info_details ul li {
    font-size: 15px;
  }
  .opt_header .logo {
    margin: 15px 0 30px 0;
  }
  .opt_header .form_login {
    background-position: 50%;
    height: 100%;
  }
  .opt_header .living_info_details .h1 {
    font-size: 25px !important;
  }
  .living_info_content {
    width: 90%;
    margin: auto;
    padding: 20px !important;
    color: #fff;
  }
}
@media (min-width: 851px) and (max-width: 1100px) {
  .living_info_content {
    width: 90%;
    margin: auto;
    padding: 20px !important;
    color: #fff;
  }
  .opt_header .logo {
    width: 120px;
    margin: 15px 0 50px 0;
  }
  .opt_header .living_info_details .h1 {
    font-size: 28px !important;
  }
  .opt_header .form_login {
    background-position: 50%;
    height: 100%;
  }
}

@media (min-width: 1530px) {
  .form_login {
    background-position: top;
  }
}

/* opt_plan */
#page-theme .feature {
  margin: 75px 0;
  margin-left: auto;
  margin-right: auto;
}

#page-theme .feature-bg {
  background: #466cce;
  width: 94px;
  height: 94px;
  border-radius: 94px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-theme .feature-card {
  line-height: 26px;
  font-size: 22px;
  margin-bottom: 54px;
}

.opt_plan .main_h2 {
  font-weight: 500;
}
.opt_plan .main_p {
  font-weight: 400;
}
.opt_plan .plan_card h5 {
  font-size: 20px;
}
.opt_plan .plan_img {
  background-color: #466cce;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
  width: 95px;
  height: 95px;
  line-height: 95px;
}
.opt_plan .last_p {
  width: 60%;
}

@media (max-width: 767.98px) {
  .opt_plan .last_p {
    width: 95%;
  }
  .opt_plan .plan_card:first-of-type,
  .opt_plan .plan_card:nth-of-type(2) {
    margin-bottom: 30px;
  }
  #page-theme .feature-card {
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .opt_body_sections {
    margin-top: 50px;
  }
}

/* opt_back */
.opt_back {
  height: 560px;
  background-image: url(https://i.ibb.co/Lgk3KJW/Rectangle-72-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
@media (max-width: 575.98px) {
  .opt_back {
    background-position: 86%;
  }
}

/*  */
.opt_try {
  padding: 40px 0;
  height: 100%;
}
.opt_try_img {
  width: 70%;
  margin: -180px auto 50px;
  padding-top: 20px;
}
.opt_try_card {
  background-color: #fae454;
  width: 86%;
  margin: auto;
  padding: 20px 0 180px;
}
.opt_try .main_h2 {
  font-size: 30px !important;
  font-weight: 500 !important;
  margin-top: 30px;
  text-transform: inherit;
}
.opt_try .main_p {
  font-size: 16px;
  font-weight: 400;
}
.opt_try .main_h2,
.opt_try .main_p {
  width: 50%;
  margin: auto;
}
.opt_try .container > p {
  width: 70%;
  margin: auto;
}
@media (min-width: 767.99px) and (max-width: 998px) {
  .opt_try .main_h2,
  .opt_try .main_p {
    width: 72%;
    margin: auto;
  }
  .opt_try_card {
    width: 100%;
  }
  .opt_try_img {
    width: 85%;
  }
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .opt_try_img {
    width: 95%;
  }
  .opt_try_card {
    width: 100%;
  }
  .opt_try .main_h2,
  .opt_try .main_p {
    width: 70%;
  }
  .opt_try .container > p {
    width: 98%;
    margin: auto;
  }
  .opt_try .container {
    max-width: 100%;
    padding: 0;
  }
}
@media (max-width: 575.98px) {
  .opt_try_img {
    width: 95%;
  }
  .opt_try_card {
    width: 100%;
  }
  .opt_try .main_h2 {
    font-size: 23px !important;
  }
  .opt_try .main_h2,
  .opt_try .main_p {
    width: 80%;
  }
  .opt_try .container > p {
    width: 96%;
    margin: auto;
  }
  .opt_try .container {
    max-width: 100%;
    padding: 0;
  }
}
/* workouts */
.workouts {
  background-image: url(https://i.ibb.co/vVjcR2Z/sec4.png);
  background-position: left;
  justify-content: flex-end;
  background-repeat: no-repeat;
}
.workouts .workouts_content {
  background-color: #466cce;
}
@media (max-width: 767.98px) {
  .workouts {
    background-image: none;
  }
}

/* opt_signup */
.opt_signup {
  padding: 40px 0;
  background-color: #d85743;
  color: #fff;
}
.form_container h2 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 15px;
}
.form_container p {
  font-weight: 400;
  margin-bottom: 20px;
}

.form_container {
  width: 80%;
  margin: auto;
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .form_container {
    width: 70%;
  }
  .form_container h2 {
    font-size: 31px;
  }
}
@media (max-width: 575.98px) {
  .form_container h2 {
    font-size: 28px;
  }
  .form_container {
    width: 90%;
  }
}

/* opt ready */
.opt_ready {
  padding: 40px 0;
}
.opt_ready .main_h2 {
  font-weight: 500;
  font-size: 30px !important;
}
.opt_ready .main_p {
  font-size: 16px;
  font-weight: 400;
}
.opt_ready_figure {
  display: flex;
  align-items: center;
  background-image: url(https://i.ibb.co/7v7DJW1/man3back-min.png);
  background-repeat: no-repeat;
  height: 600px;
  background-size: 64%;
  background-position: left;
  color: #fff;
  justify-content: end;
}
.opt_ready_content {
  background-color: #d85743;
  width: 50%;
  height: fit-content;
  padding: 30px 10px;
}
.opt_ready_content_wrapper {
  width: 80%;
  margin: auto;
}
.opt_ready_content_wrapper p {
  font-size: 17px;
}
.opt_ready_content_list {
  text-align: left;
  display: flex;
  justify-content: center;
}
.opt_ready_content_list li {
  padding: 5px 0;
  font-weight: 600;
}
.opt_ready_content_list li span.circle {
  display: inline-block;
  margin-right: 8px;
  width: 10px;
  height: 10px;
  background-color: #fae454;
  border-radius: 50%;
}
.opt_ready_img {
  display: none;
}
.opt_ready_content h2 {
  font-size: 25px !important;
}

@media (max-width: 767.98px) {
  .opt_ready {
    padding: 0;
  }
  .opt_ready .container {
    max-width: 100% !important;
    padding: 0 !important;
  }
  .opt_ready_figure {
    height: 100%;
    background-size: 100%;
  }
  .opt_ready_img {
    display: block;
  }
  .opt_ready_figure {
    flex-direction: column;
  }
  .opt_ready_figure {
    background-image: none;
  }
  .opt_ready_content {
    width: 100%;
    margin-top: -2px;
  }
  .opt_ready_content_wrapper p {
    font-size: 15px;
  }
  .opt_ready_content_wrapper li {
    font-size: 14px;
  }
  .opt_ready_content .form_container {
    width: 60%;
    padding: 20px 0;
  }
  .opt_cutom_form input {
    padding: 10px 12px;
  }
}
@media (max-width: 575.98px) {
  .opt_ready_figure {
    height: 100%;
    background-size: 100%;
  }
  .opt_ready .main_h2 {
    font-size: 25px;
  }
  .opt_ready .main_p {
    font-size: 16px;
  }
  .opt_ready_content {
    width: 100%;
    margin-top: -2px;
  }
  .opt_ready_content_wrapper {
    width: 90%;
  }
  .opt_ready_content .form_container {
    width: 80%;
    padding: 20px 0;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .opt_ready_figure {
    background-size: 80%;
  }
  .opt_ready_content {
    width: 45%;
  }
  .opt_ready_content_wrapper {
    width: 88%;
  }
  .opt_ready_content_wrapper p {
    font-size: 15px;
  }
}
.opt_kettlebell {
  position: relative;
}
.opt_kettlebell_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(30%);
}
.opt_kettlebell_img img {
  width: 100%;
}
.opt_kettlebell_mobi {
  display: none;
}
@media (min-width: 856px) and (max-width: 1100px) {
  .opt_kettlebell_info {
    margin-top: 30%;
  }
  .opt_kettlebell p {
    font-size: 14px !important;
  }
  .opt_kettlebell h2.main-h2 {
    font-size: 21px !important;
  }
  .opt_kettlebell_wrapper {
    transform: translateY(9%);
  }
}
@media (max-width: 855px) {
  .opt_kettlebell_mobi {
    display: block;
    background-color: #f7f7f7;
    padding: 50px 0;
    clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
  }
  .opt_kettlebell_mobi .opt_kettlebell_info {
    width: 95%;
    margin: 40px auto 0;
  }
  .opt_kettlebell {
    display: none;
  }
  .opt_kettlebell_mobi p {
    font-size: 14px;
  }
  .opt_kettlebell_mobi h2.main-h2 {
    font-size: 22px !important;
  }
}
footer {
  background-color: #162535;
}
footer img {
  width: 55px;
}
a[href="https://www.activecampaign.com/lp/sem/pages?utm_source=direct&utm_campaign=acpages"]
{
  display: none;
}

.opt_cutom_form input {
  width: 100%;
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
  margin-bottom: 12px;
  display: inline-block;
}
.opt_cutom_form button.opt_custom_submit {
  display: block;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 8px;
  width: 100%;
  color: #fff;
  background: #162535;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  transition: all 0.2s ease-in-out;
}

.opt_cutom_form button.opt_custom_submit:hover {
  background: #466cce;
}
#_form_6242111F103B9_ ._submit {
  background: #fae454 !important;
}
