@import url("http://fonts.cdnfonts.com/css/proxima-nova-2?styles=44820,44812");
.buy-info-full h4 a {
  pointer-events: none;
}
.buy-info-full h4 a:hover,
.buy-info-full h4 a:focus {
  color: #2579c6;
  text-decoration: none;
}

.con_link {
  background-color: #5ab85c;
  color: #fff;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  display: block;
  max-width: 200px;
  text-align: center;
  position: relative;
  height: 38px;
  line-height: 38px;
  margin-top: 20px;
  clear: both;
  transition: all 0.2s ease-in-out;
}

.con_icon {
  border-radius: 50%;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
  left: -1px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
}
.con_path {
  fill: #5ab85c;
}
.con_text {
  transform: translate(9px, 2px);
  display: inline-block;
}

.con_link:hover {
  background-color: #188a36;
  text-decoration: none;
  color: #fff;
}
.con_link:hover .con_path {
  fill: #188a36;
}
.con_link:focus {
  background-color: #14702c;
  text-decoration: none;
  color: #fff;
}
.con_link:focus .con_path {
  background-color: #14702c;
}
