* {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto+Slab&display=swap");
body,
html {
  padding: 0;
  margin: 0;
}

/* general styles */
.h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.opt_row{
  display: flex;
}


/* header */
header.opt_header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 62%);
  background-color: red;
  overflow: hidden;
  height: 100vh;
}
header.opt_header .opt_row{
  height: 100%;
  align-items: stretch;
}
.opt_header .living_info{
  width: 40%;
}
.opt_header .form_login{
  width: 60%;
  height: 100%;
}

.opt_header .logo{width:120px}
.opt_header .logo img{width: 100%;}

.form_login{
  background-image: url('https://i.ibb.co/71xRf8N/lf-1-min.png');
  background-size: cover;
  background-repeat: no-repeat;
}