/* changes remove navbar and footer and hamburger menu in mobile => MM-CART-EXP1 | Cart remove navbar  */
.header__menu-items {
  display: none !important;
}

.block__footer-promotional-1 {
  display: none !important;
}

@media only screen and (max-width: 798px) {
  .mobile-menu__toggle-button {
    display: none !important;
  }
}

.mobile-menu__toggle-icon {
  display: none !important;
}
