#slickSlide10
  > div.slideshow__text-wrap.slideshow__text-wrap--desktop
  > div
  > div
  > ul
  > li
  > h2 {
  font-family: "SofiaProLight" !important;
  margin-bottom: 35px;
}
.opt_wkt_wrraper {
  width: 80%;
}
.opt_wkt_link {
  font-size: 18px;
  text-align: center;
  display: inline-block;
  background-color: #fecf0a;
  color: #003050;
  padding: 10px 0;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;
}
.opt_wkt_p {
  margin-bottom: 35px;
}
.opt_wkt_link:hover {
  color: #fff !important;
  background-color: #436076;
}
@media (max-width: 991.98px) {
  .opt_wkt_p {
    margin-bottom: 20px;
  }
  #slickSlide10
    > div.slideshow__text-wrap.slideshow__text-wrap--desktop
    > div
    > div
    > ul
    > li
    > h2 {
    margin-bottom: 20px;
  }
  .opt_wkt_link {
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .opt_wkt_p {
    line-height: 23px;
  }
}
