#shopify-section-1574686523101 > div > div.section-header.text-left,
#shopify-section-1574686523101 > div > div.about_text.text-left,
#shopify-section-1574686523101
  > div
  > div.grid.grid--uniform.grid--flush-bottom.about_section_wrap {
  display: none;
}

.opt_smart_kettle h2 {
  font-size: 49px;
  margin-bottom: 20px;
  line-height: 51px;
}
.opt_smart_kettle_info {
  padding: 10px;
}
.opt_smart_kettle_info h3 {
  font-size: 22px;
}

@media (max-width: 960px) {
  .opt_smart_kettle h2 {
    font-size: 36px;
    line-height: 36px;
  }
  .opt_smart_kettle_info p {
    line-height: 19px !important;
  }
  .opt_smart_kettle_info h3 {
    font-size: 19px;
  }
  .opt_smart_kettle_info h3.pl-4 {
    padding-left: 5px !important;
  }
  .opt_smart_kettle_info h3.pl-4.opt_before {
    padding-left: 12px !important;
  }
}
