/* https://i.ibb.co/YDzbtNH/Rectangle-77-min.png */
/* 

https://i.ibb.co/Lgk3KJW/Rectangle-72-min.png
https://i.ibb.co/VgGjc0j/Rectangle-64-min.png

*/
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto+Slab&display=swap");
body,
html {
  padding: 0;
  margin: 0;
}
/* fix styles */
form._form {
  width: 100% !important;
  background: transparent !important;
}
._submit {
  width: 100%;
  background-color: #162535 !important;
  margin-top: 10px;
}
._field-wrapper input {
  border: none;
  padding: 15px;
}
._form_element label,
._form_element ._html-code {
  display: none;
}
._form-thank-you {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 12px;
}
/* general styles */
.h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
}
.opt_row {
  display: flex;
}
.main_h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.main_p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 80%;
  margin: auto;
}

/* header */
header.opt_header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 72%);
  background-color: #466cce;
  overflow: hidden;
  height: 900px;
}
header.opt_header .opt_row {
  height: 100%;
  align-items: stretch;
}
.opt_header .living_info {
  width: 45%;
}
.living_info ul li p {
  margin: 0;
  font-weight: 400;
}
.opt_header .form_login {
  width: 55%;
  height: 100%;
}

.living_info_content {
  width: 80%;
  margin: auto;
  padding-left: 20px;
  color: #fff;
}
.opt_header .logo {
  width: 160px;
  margin: 25px 0 70px 0;
}
.opt_header .logo img {
  width: 100%;
}
.form_login {
  background-image: url("https://i.ibb.co/HgJkBtt/Rectangle-61-min.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.opt_header .living_info_details .h1 span {
  color: #fae454;
}
.opt_header .living_info_details p,
.opt_header .living_info_details ul li {
  font-size: 16px;
}
.living_info_details ul li {
  margin-bottom: 8px;
}
.opt_header .living_info_details ul li span {
  margin-right: 10px;
}

.form_login {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.opt_header .over_lay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(22, 37, 53, 0.6);
  z-index: 1;
}
@media (max-width: 575.98px) {
  header.opt_header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    height: 1050px;
  }
  header.opt_header .opt_row {
    align-items: initial;
    flex-direction: column;
    justify-content: stretch;
  }
  .opt_header .living_info {
    width: 100%;
    padding-bottom: 10px;
  }
  .opt_header .form_login {
    background-position: 60%;
    width: 100%;
    height: 100%;
  }
  .living_info_content {
    width: 100%;
    padding: 0 15px !important;
  }
  .opt_header .logo {
    width: 110px;
    margin: 15px 0 20px 0;
  }
  .opt_header .living_info_details .h1 {
    font-size: 25px;
  }
  .opt_header .living_info_details p,
  .opt_header .living_info_details ul li {
    font-size: 14px;
  }
  .main_p {
    width: 99%;
  }
}
@media (max-width: 767.98px) {
  header.opt_header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 1150px;
  }
  header.opt_header .opt_row {
    align-items: initial;
    flex-direction: column;
    justify-content: stretch;
  }
  .opt_header .living_info {
    width: 100%;
    padding-bottom: 0px;
  }
  .opt_header .form_login {
    width: 100%;
    height: 100%;
  }
  .opt_header .logo {
    margin: 25px 0 35px 0;
  }
  .h1 {
    font-size: 30px;
  }
  .living_info_details {
    margin-bottom: 30px;
  }

  .form_login {
    position: relative;
    clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%) !important;
  }
  .form_container {
    color: #fff;
    z-index: 2222;
    position: relative;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 850px) {
  .opt_header .living_info_details p,
  .opt_header .living_info_details ul li {
    font-size: 15px;
  }
  .opt_header .logo {
    margin: 15px 0 30px 0;
  }
  .opt_header .form_login {
    background-position: 50%;
    height: 100%;
  }
  .opt_header .living_info_details .h1 {
    font-size: 25px;
  }
  .living_info_content {
    width: 90%;
    margin: auto;
    padding: 20px !important;
    color: #fff;
  }
}
@media (min-width: 851px) and (max-width: 1100px) {
  .living_info_content {
    width: 90%;
    margin: auto;
    padding: 20px !important;
    color: #fff;
  }
  .opt_header .logo {
    width: 120px;
    margin: 15px 0 50px 0;
  }
  .opt_header .living_info_details .h1 {
    font-size: 28px;
  }
  .opt_header .form_login {
    background-position: 50%;
    height: 100%;
  }
}

/*  */

/* opt ready */
.opt_ready {
  padding: 40px 0;
}
.opt_ready_figure {
  display: flex;
  align-items: center;
  background-image: url(https://i.ibb.co/myHRWCq/sec2-min.png);
  background-repeat: no-repeat;
  height: 600px;
  background-size: 64%;
  background-position: right;
  color: #fff;
}
.opt_ready_content {
  background-color: #d85743;
  width: 50%;
  height: fit-content;
  padding: 30px 10px;
}
.opt_ready_content_wrapper {
  width: 80%;
  margin: auto;
}
.opt_ready_content_wrapper p {
  font-size: 17px;
}
.opt_ready_content_list {
  text-align: left;
  display: flex;
  justify-content: center;
}
.opt_ready_content_list li {
  padding: 5px 0;
  font-weight: 600;
}
.opt_ready_content_list li span.circle {
  display: inline-block;
  margin-right: 8px;
  width: 10px;
  height: 10px;
  background-color: #fae454;
  border-radius: 50%;
}
.opt_ready_img {
  display: none;
}

@media (max-width: 767.98px) {
  .opt_ready_figure {
    height: 100%;
    background-size: 100%;
  }
  .opt_ready_img {
    display: block;
  }
  .opt_ready_figure {
    flex-direction: column;
  }
  .opt_ready_figure {
    background-image: none;
  }
  .opt_ready_content {
    width: 80%;
    margin-top: -2px;
  }
  .opt_ready_content_wrapper p {
    font-size: 15px;
  }
  .opt_ready_content_wrapper li {
    font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  .opt_ready_figure {
    height: 100%;
    background-size: 100%;
  }
  .opt_ready .main_h2 {
    font-size: 25px;
  }
  .opt_ready .main_p {
    font-size: 16px;
  }
  .opt_ready_content {
    width: 100%;
    margin-top: -2px;
  }
  .opt_ready_content_wrapper {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .opt_ready_figure {
    background-size: 80%;
  }
  .opt_ready_content {
    width: 45%;
  }
  .opt_ready_content_wrapper {
    width: 88%;
  }
  .opt_ready_content_wrapper p {
    font-size: 15px;
  }
}

/* opt_join */
.opt_join {
  padding: 0 0 40px 0;
}
.opt_join a.join_button {
  display: block;
  width: 270px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: #162535;
  color: #fff;
  border-radius: 5px;
  margin: 10px auto 40px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.opt_join a.join_button:hover {
  text-decoration: none;
}
.opt_join .join_info {
  width: 55%;
  margin: 50px auto;
  position: relative;
}
.opt_join .join_info::after {
  content: "";
  position: absolute;
  left: -46px;
  top: 0;
  width: 8px;
  height: 100%;
  transform: rotateZ(14deg);
  background-color: #fae454;
}
.opt_join .join_info p {
  font-weight: 500;
}
.opt_join .arrow_down {
  margin: auto;
  text-align: center;
  margin-top: 60px;
}
.opt_join .arrow_down img {
  width: 60px;
  cursor: pointer;
}
@media (max-width: 575.98px) {
  .opt_join .join_info {
    width: 98%;
    margin: 50px auto;
  }
  .opt_join .join_info::after {
    display: none;
  }
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .opt_join .join_info {
    width: 88%;
    margin: 50px 0px 50px 50px;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .opt_join .join_info {
    width: 70%;
  }
}

/*  */
.opt_try {
  padding: 40px 0;
  height: 100%;
  background-color: #fae454;
  clip-path: polygon(0 0, 100% 19%, 100% 100%, 0 100%);
}
.opt_try_img {
  width: 50%;
  margin: auto;
  padding-top: 20px;
}
.opt_try .main_h2 {
  margin-top: 120px;
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .opt_try_img {
    width: 80%;
  }
  .opt_try {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
  }
}
@media (max-width: 575.98px) {
  .opt_try_img {
    width: 95%;
  }
  .opt_try {
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 100%);
  }
}
/* workouts */
.workouts {
  background-image: url(https://i.ibb.co/vVjcR2Z/sec4.png);
  background-position: left;
  justify-content: flex-end;
  background-repeat: no-repeat;
}
.workouts .workouts_content {
  background-color: #466cce;
}
@media (max-width: 767.98px) {
  .workouts {
    background-image: none;
  }
}

/* opt_signup */
.opt_signup {
  padding: 40px 0;
  background-color: #d85743;
  color: #fff;
}

.form_container {
  width: 50%;
  margin: auto;
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .form_container {
    width: 70%;
  }
  .form_container h2 {
    font-size: 31px;
  }
}
@media (max-width: 575.98px) {
  .form_container h2 {
    font-size: 28px;
  }
  .form_container {
    width: 90%;
  }
}
footer {
  background-color: #162535;
}
footer img {
  width: 55px;
}
a[href="https://www.activecampaign.com/lp/sem/pages?utm_source=direct&utm_campaign=acpages"]
{
  display: none;
}

.opt_cutom_form input {
  width: 100%;
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
  margin-bottom: 12px;
  display: inline-block;
}
.opt_cutom_form button.opt_custom_submit {
  display: block;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 8px;
  width: 100%;
  color: #fff;
  background: #162535;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  transition: all 0.2s ease-in-out;
}

.opt_cutom_form button.opt_custom_submit:hover {
  background: #466cce;
}
