.container {
  margin-right: auto;
  margin-left: auto;
}
.navbar-static-top {
  position: relative;
}
.navbar-static-top {
  border-width: 0;
  z-index: 1000;
}
.navbar {
  position: relative;
  min-height: 60px;
  margin-bottom: 25px;
  border: 1px solid transparent;
}
.nav-container {
  padding: 0 150px !important;
  width: 100% !important;
}
.navbar-static-top {
  margin-bottom: 50px;
}
.navbar-inverse {
  background-color: #2579c6;
  border-color: #1d5f9b;
}

@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
