.container {
  width: 90%;
  margin: auto;
}
#product-96410 .related.products {
  display: none;
}
.container {
  width: 90%;
  margin: auto;
}
.optimize_row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.optimize_product_info .optimize_head {
  text-align: center;
}
.optimize_product_info .optimize_product_item {
  text-align: center;
  padding: 10px;
}
.item_image img {
  width: 130px;
  border-radius: 50%;
  margin: auto;
}
.optimize_product_item .item_info p {
  font-weight: 400;
}
.optimize_product_item .item_info h4 {
  margin-top: 20px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .optimize_row {
    flex-direction: column;
  }
}
/* optimize_testimonial */

.optimize_testimonial .test_image img {
  max-width: 270px;
}
.optimize_cust_testmonial q {
  display: block;
  width: 80%;
}
.optimize_cust_testmonial q::before,
.optimize_cust_testmonial q::after {
  display: inline-block;
  font-weight: bold;
  transform: scale(2);
  line-height: 27px;
}
